* {
    padding: 0px;
    margin: 0px;
    color: white;
}

body {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #6D6875;
}

.header-logo img {
    width: 75px;
    height: 100%;
    border-radius: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    background-color: #E5989B;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.content1,
.content2,
.content3,
.content4 {
    display: flex;
    height: 300px;
    flex: 1;
}

.content1 {
    background-color: #B5838D;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.content {
    max-width: 400px;
    flex: 1;
}

img {
    flex: 1;
    max-width: 200px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    flex: 1;
    width: 100%;
}

.content2 img {
    width: 100px;
    height: 100px;
}

.content2.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-box-1,
.content-box-2,
.content-box-3,
.content-box-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    max-width: 200px;
}

.content3 {
    background-color: #B5838D ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content3 p {
    max-width: 400px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.thor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 400px;
    margin-left: 200px;
}

.content4 {
    background-color: #FFCDB2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content4-content {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #B5838D;
    text-align: center;
}

.content4-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.content2 {
    background-color: #FFCDB2;
}

.content-box-1 img,
.content-box-2 img,
.content-box-3 img,
.content-box-4 img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    float: left;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #6D6875;
}

.footer p {
    font-size: 0.5em;
}